/*
Theme: LightWhite
Author: Archeb
HomePage: https://qwq.moe/
Project: https://github.com/Archeb/LightWhite
Descr: A simple theme for typecho
Date: 2017-12-09

Thank you for using my theme~
*/

* {
  font-family: "Microsoft YaHei Light";
  font-weight: 300;
  box-sizing: border-box;
}
.mdi{
    display: inline-block;
    font-family:"Material Design Icons","Microsoft YaHei Light";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6,h7,b,strong{
    font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
html {
  width: calc(100% + 13px);
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: white;
}
.cover-filter {
    display:none;
  position: absolute;
  width: 100vw;
  min-height: 200px;
  height: 40vh;
  background: linear-gradient(to bottom, transparent 99%, white);
}
.cover {
  width: 100vw;
  z-index:-1;
  height: 100vh;
  background-size: cover;
  position: fixed;
  overflow: hidden;
  background-image: url(https://qwq.moe/usr/themes/LightWhite/img/cover-big.jpg?v2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cover .middle {
    display:none;
  color: white;
  text-shadow: 1px 1px 10px #1d1d1d;
}
.cover .middle .info {
  padding-left: 25%;
  display: flex;
}
.cover .middle .info .avatar {
  padding-right: 19px;
  border-right: 1.5px solid rgba(255, 255, 255, 0.75);
}
.cover .middle .info .avatar img {
  border-radius: 50%;
  box-shadow: 1px 1px 3px #505050;
}
.cover .middle .info .texts {
  margin-left: 18px;
}
.cover .middle .info .texts .title {
  font-size: 55px;
}
.cover .middle .info .texts .description {
  margin-left: 3px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
}
.cover .middle .nav {
  margin-bottom: 1px;
  display: flex;
  margin-top: 20px;
  padding-left: calc(25% + 130px);
  background-color: rgba(0, 0, 0, 0.3);
}
.cover .middle .nav .dot {
  padding: 15px 0;
}
.cover .middle .nav .item {
  padding: 15px;
  transition: background-color 0.5s;
}
.cover .middle .nav .item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.article-list {
  margin: 0 calc(25% + 64px);
  background-color:rgba(255,255,255,0.8);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.article-list .singlepage{
    margin-bottom:0!important;
}
.article-list .article {
  margin-bottom: 50px;
  display: flex;
  opacity:0;
  transition:opacity 0.5s;
}
.article-list .article .tooltip {
  padding-top: 5px;
  padding-right: 5px;
}
.article-list .article .tooltip .date {
  display: flex;
  padding: 3px 25px 3px 10px;
  flex-direction: column;
  transition: background-color 0.5s, transform 0.15s;
  background-color: #fafafa;
  border-right: solid 1px #fafafa;
  align-items: center;
}
.article-list .article .tooltip .date .day {
  font-size: 25px;
}
.article-list .article .tooltip .date .month {
  font-size: 15px;
}
.article-list .article .tooltip .date:hover {
  background-color: #fafafa;
}
.article-list .article .tooltip .date:active {
  background-color: #eaeaea;
  transform: scale(0.95);
}
.article-list .article .tooltip .article-mobile-title {
  display: none;
}
.article-list .article .tooltip .font-control {
  display: flex;
  padding: 6px 25px 6px 10px;
  flex-direction: column;
  transition: background-color 0.5s, transform 0.15s;
  border-right: solid 1px #fafafa;
  align-items: center;
}
.article-list .article .tooltip .font-control:hover {
  background-color: #fafafa;
}
.article-list .article .tooltip .font-control .mdi:before {
  font-size: 28px;
}
.article-list .article .tooltip .font-control:active {
  background-color: #eaeaea;
  transform: scale(0.95);
}
.article-list .article .tooltip .go-comment {
  display: flex;
  padding: 8px 25px 8px 10px;
  flex-direction: column;
  transition: background-color 0.5s, transform 0.15s;
  border-right: solid 1px #fafafa;
  align-items: center;
}
.article-list .article .tooltip .go-comment:hover {
  background-color: #fafafa;
}
.article-list .article .tooltip .go-comment .mdi:before {
  font-size: 24px;
}
.article-list .article .tooltip .go-comment:active {
  background-color: #eaeaea;
  transform: scale(0.95);
}
.article-list .article .tooltip .go-share {
  display: flex;
  padding: 8px 25px 8px 10px;
  flex-direction: column;
  transition: background-color 0.5s, transform 0.15s;
  border-right: solid 1px #fafafa;
  align-items: center;
}
.article-list .article .tooltip .go-share:hover {
  background-color: #fafafa;
}
.article-list .article .tooltip .go-share .mdi:before {
  font-size: 24px;
}
.article-list .article .tooltip .go-share:active {
  background-color: #eaeaea;
  transform: scale(0.95);
}
.article-list .article .article-main {
  width: calc(100% - 57px);
  padding-left: 10px;
}
.article-list .article .article-main .preview-image-container{
    margin-top:5px;
    overflow:hidden;
}
.article-list .article .article-main .preview-image-container .preview-image{
    background-size:cover;
    z-index: 9;
    transition:transform 0.25s;
    transform: scale(1.05);
    height:300px;
}
.article-list .article .article-main .preview-image-container .preview-image-title{
    color: #3a3a3a;
    z-index: 10;
    padding: 10px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    font-size: 35px;
    margin-top: -100px;
    transform: scale(1);
}
.article-list .article .article-main .preview-image-container .preview-image-title-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
    text-shadow: 1px 1px 10px #696969;
}

.article-list .article .article-main .preview-image-container .preview-image:active{
    transform: scale(1);
}
.article-list .article .article-main .preview-image-container .preview-image-meta{
    margin-top:10px;
    color: white;
    z-index: 10;
    font-size: 14px;
    transform: scale(1);
}
.article-list .article .article-main .preview-image-container .preview-image:meta{
    transform: scale(1);
}
.article-list .article .article-main .article-title {
  font-size: 35px;
  padding: 0 0 2px;
  border-bottom: solid 1px #eaeaea;
}

.article-list .article .article-main .article-title .article-meta {
  margin-top: 7px;
  font-size: 14px;
  color: #636363;
}
.article-list .article .article-main .article-content {
  line-height: 1.9em;
  word-break: break-all;
  font-size: 15px;
}

.article-list .article .article-main .article-content li {
  list-style:initial;
}
.article-list .article .article-main .article-content a {
  color:#8a2be2;
}
.article-list .article .article-main .article-content p > * {
  max-width: 100%;
}
.article-list .article .article-main .article-content p > code {
  white-space: nowrap;
  padding: 2px 5px;
  font-size: 13px;
  background-color: #fffff0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.article-list .article .article-main .more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.article-list .article .article-main .more a {
  padding: 3px 15px;
  font-size: 16px;
  color: black!important;
  border-right: solid 1px #e3e3e3;
  transition: background-color 0.3s, color 0.3s, transform 0.15s, border-color 0.3s;
}
.article-list .article .article-main .more a:hover {
  background-color: black;
  color: white!important;
  border-right: solid 1px black;
}
.article-list .article .article-main .more a:active {
  transform: scale(0.96);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity:0;
  transition:opacity 0.5s;
}
.footer .info-left {
  padding: 5px 20px;
  border-left: 1px solid #d1d1d1;
}
.footer .info-right {
  padding: 5px 20px;
  border-right: 1px solid #d1d1d1;
}
#comments {
  margin-top: 30px;
  transition: opacity 0.3s;
}
#comments #comments-head{
    border-bottom: solid 1px #eaeaea;
}
#comments a{
    color:inherit;
}
#comments .comment-author span .avatar {
  border-radius: 50%;
  margin-bottom: -10px;
}
#comments .comment-container {
  display: flex;
}
#comments .comment-author-info {
  margin-left: 10px;
  width: 100%;
}
#comments .comment-author-name {
  padding: 5px 8px 6px;
  font-size: 12px;
  color: white;
  background-color: black;
}
#comments .comment-time {
  padding: 4px 8px 5px;
  font-size: 12px;
  border: 1px solid black;
}
#comments .comment-reply {
  padding: 4px 8px 5px;
  font-size: 12px;
  cursor: pointer;
}
#comments .comment-content {
  font-size: 14px;
  word-break: break-all;
}
#comments .comment-list {
  padding: 0;
  margin: 0;
}
#comments li{
    list-style:none;
}
#comments > .comment-list > li {
  list-style: none;
  padding: 15px 0px 5px;
}
#comments .comment-children li {
  padding-top: 10px;
}
#comments > .comment-list > li > .comment-children > .comment-list > li {
  list-style: none;
  padding: 15px 0 5px 40px;
  margin-left: 30px;
  border-left: 1px solid #d9d9d9;
}
#comments .comment-element > .respond {
  background: transparent!important;
  color: inherit!important;
}
#comments .comment-element > .respond > * {
  padding: 0;
}
#comments .comment-element > .respond > form > * {
  padding: 0;
}
#comments .comment-info {
  display: flex;
}
#comments .comment-info .mdi:before {
  border-bottom: solid 1px rgba(212, 212, 212, 0.4);
  
  padding: 0 8px;
  height: calc(100% - 1px);
  align-items: center;
  display: flex;
}
#comments .comment-info input {
  width: 100%;
  border: none;
  
  -webkit-appearance: none;
  outline: none;
  font-size: 14px;
  color: #6d6d6d;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
  border-bottom: solid 1px rgba(212, 212, 212, 0.4);
}
#comments .comment-info input:hover {
  color: black;
  border-color: black;
}
#comments .comment-info input:focus {
  color: black;
  border-color: black;
}
#comments .avatar {
  border: 1px solid #eaeaea;
  border-radius: 50%;
}
#comments .textarea {
  width: 100%;
  resize: none;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  padding: 0;
  outline: none;
  font-size: 14px;
  padding: 5px;
  background-color: transparent;
  color: #6d6d6d;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
  border-bottom: solid 1px rgba(212, 212, 212, 0.4);
  background-image:url(../img/kongou.png?v3);
  background-repeat: no-repeat;
  background-position: right bottom;
}
#comments .textarea:hover {
  border-color: black;
  color: black;
}
#comments .textarea:focus {
  border-color: black;
  color: black;
}
#comments .respond {
  color: black;
  font-size: 14px;
}
#comments .respond .warning_tip {
  background-color: #bb0909;
  color: white;
  padding: 5px 8px;
  opacity: 0;
  height: 0;
  transition: opacity 0.5s;
  text-align: center;
}
#comments .respond .submit {
  padding: 5px 10px;
  font-size: 13px;
  color: black;
  border: none;
  outline: none;
  border-right: solid 1px #e3e3e3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.15s, border-color 0.3s;
}
#comments .respond .submit:hover {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
  border-right: solid 1px black;
}
#comments .respond .submit:active {
  transform: scale(0.95);
}
#comments .respond #cancel-comment-reply-link {
  padding: 5px 10px;
  font-size: 13px;
  color: black;
  border: none;
  outline: none;
  border-left: solid 1px #e3e3e3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.15s, border-color 0.3s;
}
#comments .respond #cancel-comment-reply-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
  border-left: solid 1px black;
}
#comments .respond #cancel-comment-reply-link:active {
  transform: scale(0.95);
}
.page-navigator {
  display: flex;
  padding: 0;
  justify-content: center;
  opacity:0;
  transition:opacity 0.5s;
}
.page-navigator li {
  display: inline-block;
}
.page-navigator a {
  padding: 5px 10px;
  color: #2a2a2a;
  border-bottom: solid 1px #dfdfdf;
  transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}
.page-navigator li span {
  padding: 5px 10px;
  color: #2a2a2a;
  border-bottom: solid 1px #dfdfdf;
  transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}
.page-navigator .current a{
  color: white;
  background-color: black;
  border-color: black;
}
.page-navigator .current:hover{
  color: white;
}
.page-navigator a:hover {
  color: black;
  border-color: black;
}
.page-navigator a:active {
  color: white;
  background-color: black;
  border-color: black;
}
.page-navigator .prev a {
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: 21px;
}
.page-navigator .next a {
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: 21px;
}
.friends {
  display: flex;
  flex-wrap: wrap;
}
.friends .a-friend {
  display: flex;
  margin: 10px 10px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: box-shadow 0.2s, transform 0.2s;
}
.friends .a-friend:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.friends .a-friend:active {
  transform: scale(0.97);
}
.friends .a-friend .blog-avatar {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
}
.friends .a-friend .text-container {
  margin-left: 10px;
}
.friends .a-friend .text-container .name {
  font-size: 15px;
}
.friends .a-friend .text-container .description {
  font-size: 12.5px;
}
code {
  font-family:  Consolas,"Open Sans", Helvetica, Tahoma, Arial, "Microsoft YaHei Light", STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.55);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.65);
}
@media (max-width: 1919px) {
  .cover .middle .info {
    padding-left: 20%;
  }
  .cover .middle .nav {
    padding-left: calc(20% + 130px);
  }
  .article-list {
    margin: 0 calc(20% + 64px);
  }
}
@media (max-width: 1480px) {
  .cover .middle .info {
    padding-left: 15%;
  }
  .cover .middle .nav {
    padding-left: calc(15% + 130px);
  }
  .article-list {
    margin: 0 calc(15% + 64px);
  }
}
@media (max-width: 1300px) {
  .cover .middle .info {
    padding-left: 12%;
  }
  .cover .middle .nav {
    padding-left: calc(12% + 130px);
  }
  .article-list {
    margin: 0 calc(12% + 64px);
  }
}
@media (max-width: 1100px) {
  .cover .middle .info {
    padding-left: 8%;
  }
  .cover .middle .nav {
    padding-left: calc(8% + 130px);
  }
  .article-list {
    margin: 0 calc(8% + 64px);
  }
}
@media (max-width: 768px) {
  /* 从这里开始算移动端 */
  html {
    width: initial;
    overflow-x: hidden;
  }
  .cover .middle .info {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cover .middle .nav {
    padding-left: 0;
    display: flex;
    margin-top: 5px;
    justify-content: center;
  }
  .cover .middle .info .texts {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cover .middle .info .texts .title {
    font-size: 28px;
  }
  .cover .middle .info .texts .description {
    font-size: 16px;
  }
  .article-list {
    margin: 20px 0;
  }
  .cover .middle .info .avatar {
    padding-right: 0px;
    border-right: none;
  }
  .article-list .article {
    flex-direction: column;
    align-items: center;
  }
  .article-list .article .tooltip {
    display: flex;
    padding: 0 20px 0 40px;
    width: 100%;
  }
  .article-list .article .article-main {
    padding: 0 10px;
  }
  .article-mobile-title {
    display: flex!important;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
  }
  .font-control,
  .go-comment,
  .go-share {
    display: none!important;
  }
  .article-list .article .article-main .article-title a {
    display: none;
  }
  .article-list .article .article-main .article-content {
    font-size: 14px;
  }
  .article-list .article .article-main .more a {
    font-size: 15px;
  }
  .footer {
    font-size: 14px;
  }
  #comments > .comment-list > li > .comment-children > .comment-list > li {
    padding: 0;
    border: none;
    margin: 0;
  }
  .cover-filter {
    height: 260px!important;
  }
  .cover {
    height: 260px!important;
  }
}